body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.weather-box {
  font-size: 18px;
  margin-top: 20px;
  color: #555;
  min-height: 70px;
}

button {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
